{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 left my-5 text-center">
            <h5 text-center>Add Tasks</h5>
            <div class="container form-container p-3">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-success rounded">Update Task</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}