{% extends 'base.html'%}

{% block body%}

<div class="container w-25 my-5 border border-success rounded">
  <form method="POST">
    {% csrf_token %}
    <h4 class="py-3 text-center text-success">Login to My ToDoz</h4>
    <div class="mb-3">
      <label class="form-label text-start">Username</label>
      <input type="text" class="form-control" name="username">
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div>
        <button type="submit" class="btn btn-success w-100">Login</button>
      </div>
  </form>
</div>
<div>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
  {% endfor %}
  {% endif %}

{% endblock %}
